* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.app {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  background: #222;
  padding-bottom: 100px;
  min-height: 100vh;
  user-select: none;
}

input {
  &[type="number"] {
    padding-left: 15px !important;
  }
}

@import "./main-controls.scss";
@import "./channels-board.scss";
@import "./channel.scss";
@import "./key.scss";
